/* line 8, ../scss/style.scss */
.slideout-menu {
  position: fixed;
  left: auto;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

/* line 21, ../scss/style.scss */
.slideout-panel {
  position: relative;
  z-index: 1;
}

/* line 26, ../scss/style.scss */
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

/* line 32, ../scss/style.scss */
.slideout-open .slideout-menu {
  display: block;
}

/* line 36, ../scss/style.scss */
#panel {
  background: white;
}

/* line 40, ../scss/style.scss */
#menu {
  background-color: black;
}
/* line 42, ../scss/style.scss */
#menu li {
  text-align: center;
  border-bottom: 1px solid white;
}
/* line 46, ../scss/style.scss */
#menu a {
  color: #7a7b7c;
  font-size: .9em;
  padding: 10px;
}
/* line 50, ../scss/style.scss */
#menu a:hover {
  background-color: #7a7b7c;
  color: #2e2e2e;
}

/* line 57, ../scss/style.scss */
.close_popover {
  float: right;
  color: #2e2e2e;
}
/* line 60, ../scss/style.scss */
.close_popover a:visited {
  color: #2e2e2e;
}

/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 70, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 72, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 76, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 80, ../scss/style.scss */
body {
  font-family: "myriad-pro-condensed", sans-serif;
  width: 100%;
  height: 100%;
}

/* line 86, ../scss/style.scss */
img {
  display: block;
  padding: 0;
  margin: 0;
}

/* line 91, ../scss/style.scss */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 96, ../scss/style.scss */
li {
  padding: 0;
  margin: 0;
}

/* line 100, ../scss/style.scss */
a {
  display: block;
  text-decoration: none;
}

/* line 104, ../scss/style.scss */
h1 {
  padding: 5px 0 5px 0;
  margin: 0;
}

/* line 108, ../scss/style.scss */
h2, h3, h4 {
  font-family: "Myriad Pro";
  padding: 0;
  margin: 0;
  font-weight: 300;
}

/* line 114, ../scss/style.scss */
form {
  padding: 0;
  margin: 0;
}

/***** SITE STYLES *************/
/**********************************/
/* line 121, ../scss/style.scss */
header {
  display: block;
  background-color: white;
  padding: 5px 10px 5px 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 2px solid #2473ad;
  box-shadow: 5px #7a7b7c;
  z-index: 1000;
}
/* line 133, ../scss/style.scss */
header div:first-child {
  float: left;
  width: 60%;
}
/* line 137, ../scss/style.scss */
header div:last-child {
  float: right;
}
/* line 141, ../scss/style.scss */
header .layr_logo img {
  max-width: 65px;
}

/* line 147, ../scss/style.scss */
#menu_profile {
  width: 20%;
}

/* line 152, ../scss/style.scss */
.icons a {
  display: inline-block;
  padding-bottom: 15px;
}

/* line 158, ../scss/style.scss */
.profile {
  position: relative;
  top: 0;
  right: 0;
}
/* line 162, ../scss/style.scss */
.profile img {
  width: 30px;
  border-radius: 100px 100px 100px 100px;
}
/* line 166, ../scss/style.scss */
.profile a {
  color: #2e2e2e;
}
/* line 168, ../scss/style.scss */
.profile a:visited {
  color: #2e2e2e;
}

/* line 174, ../scss/style.scss */
.toggle {
  padding: 100px 0 0 0;
}
/* line 176, ../scss/style.scss */
.toggle a {
  color: white;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border: 3px solid black;
  border-radius: 5px 10px 0px 0px;
  font-size: 1.1em;
}
/* line 183, ../scss/style.scss */
.toggle a:hover {
  color: white;
  background-color: black;
  transition: 1.0s ease all;
}

/* line 191, ../scss/style.scss */
.main_wrapper {
  background: #7a7b7c;
  padding: 25px 25px 100px 25px;
}

/* line 196, ../scss/style.scss */
.wrapper {
  background: url(../img/pattern.png);
  background-size: contain;
  background-position: fixed;
  padding: 50px;
  border: 10px solid black;
  border-radius: 4px;
}

/* line 205, ../scss/style.scss */
.current_projects {
  color: white;
}
/* line 207, ../scss/style.scss */
.current_projects a {
  color: white;
  width: 30%;
  max-width: 150px;
  text-align: center;
}
/* line 213, ../scss/style.scss */
.current_projects li {
  border-bottom: 1px solid #7a7b7c;
}
/* line 216, ../scss/style.scss */
.current_projects h2 {
  padding-bottom: 10px;
  font-size: 1.2em;
}
/* line 220, ../scss/style.scss */
.current_projects div {
  margin-bottom: 20px;
}
/* line 225, ../scss/style.scss */
.current_projects img {
  padding-bottom: 10px;
  width: 30%;
  max-width: 100px;
  padding: 20px 0 20px 0;
}

/* line 233, ../scss/style.scss */
.titles {
  display: none;
}

/* line 237, ../scss/style.scss */
.meter {
  padding: 10px 0 10px 0;
  width: 25%;
  max-width: 120px;
  padding: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #2473ad;
  margin-right: 10%;
}
/* line 248, ../scss/style.scss */
.meter span {
  display: block;
  padding: 8px;
  border-radius: 10px;
  background-color: #ee5828;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  z-index: 50;
}

/* line 262, ../scss/style.scss */
.open_projects {
  color: white;
}
/* line 264, ../scss/style.scss */
.open_projects a {
  color: white;
  width: 30%;
  max-width: 150px;
  text-align: center;
}
/* line 270, ../scss/style.scss */
.open_projects li {
  margin-top: 40px;
  padding-bottom: 60px;
  border-bottom: 1px solid #7a7b7c;
}
/* line 275, ../scss/style.scss */
.open_projects h3 {
  padding: 10px 0 10px 0;
}
/* line 279, ../scss/style.scss */
.open_projects img {
  max-width: 100px;
  padding: 20px 0 20px 0;
}

/* line 285, ../scss/style.scss */
.history {
  color: white;
}
/* line 287, ../scss/style.scss */
.history a {
  color: white;
  width: 30%;
  max-width: 150px;
  text-align: center;
}
/* line 293, ../scss/style.scss */
.history li {
  margin-top: 40px;
  padding-bottom: 60px;
  border-bottom: 1px solid #7a7b7c;
}
/* line 298, ../scss/style.scss */
.history h3 {
  padding: 10px 0 10px 0;
}
/* line 302, ../scss/style.scss */
.history img {
  max-width: 100px;
  padding: 20px 0 20px 0;
}

/* line 308, ../scss/style.scss */
.button {
  border: 2px solid #ee5828;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}
/* line 313, ../scss/style.scss */
.button:hover {
  background-color: #ee5828;
  color: white;
  transition: 1s ease all;
}

/* line 320, ../scss/style.scss */
.signin_wrapper {
  background: url(../img/pattern.png);
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  height: 100%;
}

/* line 328, ../scss/style.scss */
.login_box {
  padding: 20px;
  width: 70%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f3f2f2;
  color: #2e2e2e;
  border: 3px solid #ee5828;
  border-radius: 5px;
}
/* line 337, ../scss/style.scss */
.login_box img {
  padding-bottom: 20px;
  width: 100px;
  margin: 0 auto;
}
/* line 342, ../scss/style.scss */
.login_box form {
  width: 90%;
  margin: 0 auto;
}
/* line 346, ../scss/style.scss */
.login_box a {
  display: block;
  text-align: center;
  color: #2473ad;
}
/* line 351, ../scss/style.scss */
.login_box h2 {
  padding: 5px;
  font-size: 1em;
}
/* line 355, ../scss/style.scss */
.login_box h4 {
  font-style: italic;
  padding: 20px;
}
/* line 360, ../scss/style.scss */
.login_box .form_field {
  width: 90%;
  margin: 0 auto;
  border: 3px solid #e6e6e6;
  background: #fefcfc;
  color: #c9b7a2;
  padding: 10px;
  border-radius: 5px;
}

/* line 370, ../scss/style.scss */
.submit_button {
  width: 250px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #2b8dd6;
  color: white;
  text-align: center;
  border: 1px solid white;
}

/* line 382, ../scss/style.scss */
.profile_background {
  background: url(../img/pattern.png);
  background-size: cover;
  background-position: center center;
  height: 100px;
  padding-top: 80px;
  margin-bottom: 100px;
  position: relative;
}
/* line 390, ../scss/style.scss */
.profile_background h1 {
  font-size: 1.2em;
  color: white;
  text-align: center;
}
/* line 395, ../scss/style.scss */
.profile_background img {
  width: 20%;
  max-width: 129px;
  position: absolute;
  left: 10px;
  top: 130px;
  border: 3px solid white;
  border-radius: 5px;
}
/* line 404, ../scss/style.scss */
.profile_background h2 {
  color: white;
  position: relative;
  top: 45px;
  left: 150px;
  font-size: 1em;
}

/* line 413, ../scss/style.scss */
footer {
  background-color: black;
  margin-top: 100px;
  height: 100px;
  padding: 40px;
  border-top: 1px solid #2e2e2e;
}
/* line 419, ../scss/style.scss */
footer div {
  width: 50%;
  margin: 0 auto;
}
/* line 423, ../scss/style.scss */
footer img {
  width: 100px;
  padding-bottom: 20px;
}
/* line 430, ../scss/style.scss */
footer li a {
  display: block;
  color: #7a7b7c;
}
/* line 434, ../scss/style.scss */
footer li a:visited {
  color: #7a7b7c;
}

/* line 442, ../scss/style.scss */
.darkbox {
  position: absolute;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
/* line 451, ../scss/style.scss */
.darkbox .whitebox {
  background-color: white;
  border: 5px solid #ee5828;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  z-index: 20000;
  margin-top: 50px;
}
/* line 461, ../scss/style.scss */
.darkbox p {
  border-bottom: 1px solid #7a7b7c;
  padding-bottom: 10px;
}
/* line 465, ../scss/style.scss */
.darkbox img {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
/* line 470, ../scss/style.scss */
.darkbox article {
  font-style: italic;
  font-size: .9em;
}
/* line 474, ../scss/style.scss */
.darkbox textarea {
  width: 95%;
  margin: 20px 0 20px 0;
}
/* line 478, ../scss/style.scss */
.darkbox input {
  margin-top: 20px;
  float: right;
}

@media screen and (min-width: 600px) {
  /* line 492, ../scss/style.scss */
  .titles {
    display: block;
    color: white;
  }
  /* line 495, ../scss/style.scss */
  .titles h4 {
    width: 20%;
    display: inline-block;
  }

  /* line 501, ../scss/style.scss */
  .current_projects h2, .current_projects h3, .current_projects div, .current_projects img {
    width: 18%;
    display: inline-block;
    vertical-align: middle;
  }
  /* line 506, ../scss/style.scss */
  .current_projects .meter {
    margin: px 0 10px;
  }

  /* line 511, ../scss/style.scss */
  .open_projects h2, .open_projects h3, .open_projects div, .open_projects img {
    width: 22%;
    display: inline-block;
  }

  /* line 517, ../scss/style.scss */
  .open_projects h2, .open_projects h3, .open_projects div, .open_projects img {
    width: 22%;
    display: inline-block;
  }

  /* line 524, ../scss/style.scss */
  footer li {
    display: inline-block;
    width: 20%;
  }
  /* line 528, ../scss/style.scss */
  footer a {
    vertical-align: top;
  }
}
